dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el